<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	  <appSettings>
		  <add key="host" value="172.31.254.63"/>
		  <add key="user" value="mirza"/>
		  <add key="password" value="1234"/>
		  <add key="database" value="agenda_mirza"/>
		  <add key="port" value="3306"/>
  </appSettings>
</configuration>